doctype html
html(ng-app='starter')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='/javascripts/jquery.js')
    //- script(src='/libs/boostrap-material-design/dist/material.min.js')
    script(src='/javascripts/draggable.js')
    script(src='/libs/boostrap-material-design/dist/material.min.js')
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

  body(no-scroll)
    block content
